.qoute{
    height: 60px;
    background: #f8f9fc;
    width: 100%;
    display: flex;
    color: #a3a5a6;
    font-style: italic;
    font-size: 15px;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
}